<!DOCTYPE html>
<html>

    <head>
            <title> Animals Shelters</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://fonts.googleapis.com/css?family=Asap|Rubik" rel="stylesheet">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
            <link rel="stylesheet" type="text/css" href="../css/style.css">
        <link rel="stylesheet" type="text/css" href="../css/about.css">
    </head>
    <body>
        <header>
            
            <a href="../index.html" class="header-logo">PetLover</a>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="contact.html">Contact</a></li>
                
                </ul>
            
            </nav>
                
            
        </header>
        
        <main>
            <section class="index-banner">
                
                <div class="index-aligning">
                    <h2>About Us</h2>
                
                
                </div>
            
            </section>
            
            <section class="index-content">
                
                <div class="index-inform">
                    
                    <p>Not all animal shelters are the same. Fortunate homeless and unwanted animals end up in the hundreds of open-admission animal shelters that are staffed by professional, caring people.</p>
                    
                    <p>At these facilities, frightened animals are reassured, sick and injured animals receive treatment or a peaceful end to their suffering, and the animals’ living quarters are kept clean and dry. Workers at these facilities never turn away needy animals and give careful consideration to each animal’s special emotional and physical needs.</p>         
                </div>
            
            </section>
            
            <section>
                
                <div class="about-photo">
                    <img src="../img/animals-canine-close-up-101635.jpg" alt="a dog bite on a stick handed to him">
                
                </div>
                <div class="index-inform">
                    <p>To be able to offer refuge to every animal in need, open-admission shelters must euthanize unadopted and unadoptable animals. The alternative—turning them away—is cruel and leaves the animals in grave danger.</p>
                
                </div>
            
            </section>
        
        </main>
        
        <footer>

            <div class="footer-sm">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
            
  
             <p> &copy; Copyright, Created by Eric Gadesseh All right Served<p>
        </footer>
    </body>
</html>