<!DOCTYPE html>
<html>

    <head>
            <title> Animals Shelters</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://fonts.googleapis.com/css?family=Asap|Rubik" rel="stylesheet">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<!--            <link rel="stylesheet" type="text/css" href="../css/style.css">-->
        <link rel="stylesheet" type="text/css" href="../css/contact.css">
        
    </head>
    <body>
        <header>
            
            <a href="../index.html" class="header-logo">PetLover</a>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="contact.html">Contact</a></li>
                
                </ul>
            
            </nav>
                
            
        </header>
        
        <main>
            <section class="index-banner">
                
                <div class="index-aligning">
                    <h2>Adopt Us</h2>
                
                
                </div>
            
            </section>
            
                
            
            
            
            <section>
                
                <div class="contact-info">
                   <h2>EMAIL US / CALL US FOR PET ADPTION</h2>
                    
                    <a class="mailing" href="mailto:ericgadee@gmail.com">ericgadee@gmail.com</a>
                    <p class="phone">347-652-AdpotPet</p>

                
                </div>
               
            </section>
        
        </main>
        
        <footer>

            <div class="footer-sm">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
            
  
             <p> &copy; Copyright, Created by Eric Gadesseh All right Served<p>
        </footer>
    </body>
</html>