<!DOCTYPE html>
<html>

    <head>
            <title> Animals Shelters</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://fonts.googleapis.com/css?family=Asap|Rubik" rel="stylesheet">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<!--            <link rel="stylesheet" type="text/css" href="../css/style.css">-->
        <link rel="stylesheet" type="text/css" href="../css/gallery.css">
    </head>
    <body>
        <header>
            
            <a href="../index.html" class="header-logo">PetLover</a>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="contact.html">Contact</a></li>
                
                </ul>
            
            </nav>
                
            
        </header>
        
        <main>
            <section class="index-banner">
                
<!--
                <div class="index-gallery anime">
                    <div>
                        <img src="../img/adorable-animal-cat-320014.jpg">
                    </div>
                    
                    <div>
                        <img src="../img/adorable-animals-breed-374825.jpg">
                    </div>
                    
                    
                    
                    <div>
                        <img src="../img/animal-blur-cat-412463.jpg">
                    </div>
                    
                    <div>
                        <img src="../img/animal-cat-feline-38867.jpg">
                    </div>
                    
                    <div>
                        <img src="../img/animal-cute-animals-dog-59523.jpg">
                    </div>
                    
                    <div>
                        <img src="../img/animals-canine-close-up-101635.jpg">
                    </div>
                    
                    <div>
                        <img src="../img/animal-canine-cloudy-218825.jpg">
                    </div>
                    
                    <div>
                        <img src="../img/animals-close-up-cute-208821.jpg">
                    </div>
                    
                    <div>
                        <img src="../img/animal-dog-fluffy-89249.jpg">
                    </div>
          
                
                </div>
           
-->
                
                
                <div class="gallery-row">
                    
                    <div class="col">
                        
                         <img src="../img/animals-canine-close-up-101635.jpg" alt="a dog bite on a stick handed to him">
                         <img src="../img/animal-dog-fluffy-89249.jpg">
                        <img src="../img/animal-blur-cat-412463.jpg" alt="a cute black flufy dog">
                        <img src="../img/animals-black-and-white-equine-52500.jpg" alt="horse run">
                        
                    </div>
                    
                    <div class="col">
                        <img src="../img/animal-cute-animals-dog-59523.jpg" alt="Cute Little brown dog">
                        <img src="../img/animals-close-up-cute-208821.jpg" alt="two horse close to the camera use to thake the picture">
                        <img src="../img/adorable-animal-cat-320014.jpg" alt="adorable cute cat peeking">
                        
                    </div>
                    
                    <div class="col">
                        <img src="../img/animal-cat-feline-38867.jpg" alt="cute cat high five his owner hand">
                        <img src="../img/animal-canine-cloudy-218825.jpg" alt=" low angle picture of a dog and the sky">
                        <img src="../img/adorable-animals-breed-374825.jpg" alt="two cute dog cuddling">
                    </div>
                
                
                </div>
            
            </section>
        
        </main>
        
        <footer>

            <div class="footer-sm">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
            
  
             <p> &copy; Copyright, Created by Eric Gadesseh All right Served<p>
        </footer>
    </body>
</html>